{
  "Telegram_BotKey": "YOUR BOT API TOKEN FROM @BOTFATHER",
  "Telegram_ChatId": "YOUR CHAT ID FROM TELEGRAM",
  "Spotify_PlaylistUrl": "YOUR **EMPTY** SPOTIFY PLAYLIST",
  "Spotify_ClientSecret": "YOUR SPOTIFY CLIENT SECRET FROM SPOTIFY API",
  "Spotify_ClientId": "YOUR SPOTIFY CLIENT ID FROM SPOTIFY API",
  "timeZone": "America/Chicago (DO NOT TOUCH THIS)"
}
